@import "./utils/variables";
@import "./components/common/menu";
@import "./components/common/_menu-button";
@import "./components/common/logo";
@import "./components/common/socials";
@import "./components/home-page/hero";
@import "./components/home-page/modal-window";
@import "./components/home-page/advantages";
@import "./components/home-page/services";
@import "./components/home-page/team";
@import "./components/home-page/clients";
@import "./components/common/footer";
@import "./components/portfolio/filters";
@import "./components/portfolio/work-examples";
