.footer {
  background-color: #2f303a;
  color: $primaryWhiteColor;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  &-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.address {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  .logo {
    display: inline-block;
    margin-bottom: 20px;

    color: $primaryWhiteColor;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.18;
  }

  .physical-adress {
    display: block;
    margin-bottom: 9px;
  }

  .link:not(:last-child) {
    margin-bottom: 9px;

    transition: color 250ms $cubick;
  }

  .link {
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}

.appeal {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.company-social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  .socials {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $primaryWhiteColor;

    &:hover,
    &:focus {
      background-color: $accentColor;
    }
  }
}

.list-socials {
  justify-content: center;
  .item + .item {
    margin-left: 10px;
  }
}

.form-input {
  height: 50px;
  margin: 0;
  padding: 15px 16px;
  font: inherit;
  color: $primaryWhiteColor;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: inherit;

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}

.subscription {
  @media screen and (max-width: 1199px) {
    max-width: 450px;
  }

  .button {
    position: relative;

    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 62px;
    min-width: 200px;

    color: $primaryWhiteColor;
    background-color: $accentColor;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;

    transition: background-color 250ms $cubick;

    @media screen and (max-width: 1199px) {
      margin-top: 20px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 12px;
    }

    &::after {
      content: "";

      position: absolute;
      display: inline-block;
      margin-left: 10px;
      padding: 12px;

      background-image: url(../images/icon-send.svg);
    }

    &:hover,
    &:focus {
      background-color: blue;
    }
  }
}

.copyright {
  display: none;

  //   border-top: 1px solid rgba(255, 255, 255, 0.1);
  //   padding-top: 18px;
  //   padding-bottom: 21px;

  //   color: rgba(255, 255, 255, 0.4);
  //   font-size: 12px;
  //   line-height: 2;
  //   text-align: center;
}
