.logo {
  color: $titleTextColor;
  font-family: raleway, cursive;
  font-weight: 700;
  line-height: 1.19;

  &-blue {
    color: $accentColor;
  }

  @media screen and (max-width: 1199px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
