.clients {
  display: flex;

  .item {
    width: calc((100%-5 * 30px) / 6);
  }

  .item + .item {
    margin-left: 30px;
  }
}

.clients .link {
  border: 1px solid $primarySvgColor;
  border-radius: 4px;
  height: 90px;
  fill: $primarySvgColor;

  transition: border 250ms $cubick, fill 250ms $cubick;
}

.first-client {
  padding-top: 20px;
  padding-left: 63px;
}

.second-client {
  padding-top: 19px;
  padding-left: 65px;
}

.third-client {
  padding-top: 24px;
  padding-left: 65px;
}

.fourth-client {
  padding-top: 24px;
  padding-left: 45px;
}

.fifth-client {
  padding-top: 22px;
  padding-left: 56px;
}

.sixth-client {
  padding-top: 22px;
  padding-left: 41px;
}

.clients .link:hover,
.clients .link:focus {
  border: 1px solid $accentColor;
  fill: $accentColor;
}

.client-icon {
  color: currentColor;
}
