.filters {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
    margin-bottom: 32px;

    .item:not(:last-child) {
      margin-right: 8px;
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 40px;

    .item:not(:last-child) {
      margin-right: 8px;
    }
  }

  .button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    transition: background-color 250ms $cubick, color 250ms $cubick;
    border: none;

    &:hover,
    &:focus {
      background-color: $accentColor;
      color: $primaryWhiteColor;
    }
  }
}
