.advantages {
  margin: -15px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    margin: 15px;

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media (min-width: $tablet) {
      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @media (min-width: $desktop) {
      flex-basis: calc((100% - 8 * 15px) / 4);
    }
  }
}

.advantages {
  &-thumb {
    height: 120px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: $secondaryBgColor;
  }

  .section-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;
  }
}
