.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  .item {
    margin: 15px;

    @media screen and (max-width: 767px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 6 * 15px) / 3);
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 12 * 15px) / 6);
    }
  }
}

.clients {
  .link {
    text-align: center;
    border: 1px solid $primarySvgColor;
    border-radius: 4px;
    height: 90px;
    fill: $primarySvgColor;

    transition: border 250ms $cubick, fill 250ms $cubick;
  }

  .link:hover,
  .link:focus {
    border: 1px solid $accentColor;
    fill: $accentColor;
  }

  .client-icon {
    color: currentColor;
  }
}

.first-client {
  padding-top: 20px;
}

.second-client {
  padding-top: 19px;
}

.third-client {
  padding-top: 24px;
}

.fourth-client {
  padding-top: 24px;
}

.fifth-client {
  padding-top: 22px;
}

.sixth-client {
  padding-top: 22px;
}
