.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primaryWhiteColor;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero .button {
  padding: 10px 32px;
  min-width: 200px;

  color: $primaryWhiteColor;
  background-color: $accentColor;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms $cubick;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
