.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $cubick, transform 250ms $cubick;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.08);
}

.modal {
  padding: 40px;

  background-color: $primaryWhiteColor;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  @media screen and (max-width: 479px) {
    margin: 90px 15px;
    position: absolute;
  }

  @media screen and (min-width: $mobile) {
    position: absolute;
    width: 450px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 90px;
    margin-bottom: 90px;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    width: 528px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 220px;
    margin-bottom: 220px;
  }
}

.modal {
  &-close-btn {
    position: absolute;

    padding: 0;
    right: 8px;
    top: 8px;
    border: unset;
    background-color: $primaryWhiteColor;
  }
}

.modal {
  &-appeal {
    text-align: center;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;

    color: $titleTextColor;
  }
}

.modal-label {
  display: block;
  position: relative;
  margin-top: 28px;

  &:focus-within > .modal-input {
    border: 1px solid $accentColor;
  }

  &:focus-within > .label-name {
    transform: translate(-22px, -40px);
    color: $accentColor;
  }

  &:focus-within > .label-icon {
    fill: $accentColor;
  }

  &:focus-within > .modal-textarea {
    border: 1px solid $accentColor;
  }

  &:focus-within > .textarea-name {
    transform: translateY(-32px);
    color: $accentColor;
  }
}

.modal-input {
  width: 100%;
  padding: 12px 16px;
  padding-left: 42px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubick;

  &:not(:placeholder-shown) ~ .label-name {
    transform: translate(-22px, -40px);
  }
}

.label-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: fill 250ms $cubick;
}

.label-name {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  transition: transform 250ms $cubick, color 250ms $cubick;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  outline: none;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubick;

  &:not(:placeholder-shown) ~ .textarea-name {
    transform: translateY(-32px);
  }
}

.textarea-name {
  position: absolute;
  top: 12px;
  left: 16px;

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  transition: transform 250ms $cubick, color 250ms $cubick;
}

.modal-agreement {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.agreement-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .custom-check {
    background-color: $accentColor;
    border-color: $accentColor;
  }
}

.custom-check {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  background-origin: border-box;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 2px solid;
  border-color: $titleTextColor;
  border-radius: 2px;
  transition: background-color 250ms $cubick, border-color 250ms $cubick;
}

.consent {
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.conditions {
  margin-left: 4px;
  text-decoration: underline;
  color: $accentColor;
}

.consent {
  display: inline-flex;
}

.send-btn {
  margin: 0 auto;
  pad: 10px 55px;
}
